.h5p-simple-multiple-choice-question {
  background: #2880d0;
  font-size: 1.2em;
  padding: 0.75em;
  color: #fff;
}

.h5p-simple-multiple-choice-question:before {
  width: 0.75em;
  height: 0.75em;
  content: " ";
  position: absolute;
  bottom: -0.4em;
  left: 1em;
  background: white;
  transform: rotate(45deg);
}

.h5p-simple-multiple-choice-alternatives {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  position: relative;
  background-color: #FFF;
}

.h5p-simple-multiple-choice-alternatives label {
  cursor: pointer;
}

.h5p-simple-multiple-choice-alternative-li {
  margin: 0.25em 0;
}

.h5p-simple-multiple-choice-alternative-input {
  -webkit-appearance: none;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-color: #ebeced;
  box-shadow: inset 0 0 0 2px #fff;
  border: 1px solid #b0b4b8;
  margin: 0 0.75em 0;
  vertical-align: middle;
}

.h5p-simple-multiple-choice-alternative-input:checked {
  box-shadow: none;
  border: 1px solid #343434;
  background-color: #343434;
}

.h5p-simple-multiple-choice-alternative-input[type='radio'] {
  border-radius: 50%;
}
